html {
  min-height: 100dvh;
  position: relative;
}

body {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: rgb(20, 20, 20);
  font-family: arial;
}

.bar-top {
  height: 50%;
  position: absolute;
  width: 100%;
  transition: 300ms;
  top: 0%;
  background-color: black;
  z-index: 1;
  /*opacity: 50%;
  */
  pointer-events: none;
  border-bottom: 1px solid white;
}

.bar-bottom {
  height: 50%;
  position: absolute;
  width: 100%;
  transition: 300ms;
  bottom: 0%;
  background-color: black;
  z-index: 1;
  /* opacity: 50%; */
  pointer-events: none;
  border-top: 1px solid white;
}

.button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  /* top: calc(50% - 50px); */
  bottom: 3.5%;
  right: calc(50% - 50px);
  border: none;
  cursor: pointer;
}

.pic {
  z-index: -2;
  height: 1000px;
  object-fit: cover;
  width: 1000px;
}

/* .button:active ~ .bar-top {
    top: -50%;

}

.button:active ~ .bar-bottom {
    bottom: -50%;
} */

.up {
  transform: translateY(-100%);
  transition: 300ms;
}

.down {
  transform: translateY(100%);
  transition: 300ms;
}

.wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
}

.img-wrapper img {
  position: absolute;
  max-height: 50%;
  width: 100%;
  object-fit: contain;
}

.img-wrapper {
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.loader {
  height: 25px;
  z-index: 5;
  position: absolute;
  top: calc(50% - 25px); 
  right: 50%;
  filter:invert();
  display: none;
}


.show-loader {
  display: block;
}

 

.download-link {
  position: absolute;
  bottom: 15%; 
  /* left: 42%; */
  transform-origin:center;
  color: white;
  cursor: pointer;
  z-index: 5;
  display: none;
  text-align: center;
  width: 100%;
  text-decoration: none;
}

.show-link {
  display: inline-block;
  z-index: 0;
}

.dl-icon {
  height: 25px;
  filter: invert();
  vertical-align:bottom;
}

@media screen and (max-width: 375px) {
  .download-link {
    bottom: 20%;
  }
}

@media screen and (max-width: 576px) {
  .download-link {
    bottom: 20%;
  }
}